.courses .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 15px;
    margin-bottom: 15px;
}
.courses .content .box{
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.courses .box .course-img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.courses .box .course-by{
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    left: 10px;
    top: 14px;
}
.courses .box .text,
.courses .box .info{
    padding: 10px;
}
.courses .box .text{
    padding-bottom: 30px !important;
    border-bottom: 1px solid var(--background-color);
}
.courses .box .text h3{
    margin: 10px 0;
    font-size: 17px;
}
.courses .box .text p{
    font-size: 14px;
}
.courses .box .text a{
    position: absolute;
    left: 50%;
    transform: translate(-50%,20px);
    border-radius: 4px;
    background-color: var(--main-color) !important;
}
.courses .box .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px !important;
    font-size: 14px;
}
.courses .box .info > div > i{
    margin-right: 5px;
}